#canvas1{
    filter: blur(3px);
}

.programs{
    justify-content: flex-start;
}


.Ccard{
    display: block;
    height: 18rem;
    width: 30%;
    position: relative;
    background-image: url("../images/nat-4.jpg");
    margin: 2vw 2vw 2vw 0vw;
    border-radius: 1vw;
    transition: all 0.5s;
    opacity: 1;
    font-family: "mechtech";
    /* box-shadow: rgba(16, 231, 81, 0.24) 0px 3px 8px;
     */
     box-shadow: rgba(115, 228, 50, 0.4) 0px 5px, rgba(37, 224, 78, 0.3) 0px 10px, rgba(35, 212, 35, 0.2) 0px 15px, rgba(14, 133, 34, 0.1) 0px 20px, rgba(5, 116, 38, 0.05) 0px 25px;
}
.EventHeading{
    display: flex;
    justify-content: center;
    padding-top: 11rem;
    font-size: 2vw;
}
.Eventtime{
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
}
.Eventtime:hover{
    display: none;
}
.layer{
    display: flex;
    background: transparent;
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    transition:0.5s;
}
.teams{
width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 1.5vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity:0;
  transition: 0.5s;
  text-align: center;
  padding-top: 5.5vw;
  border-radius: 1vw;
}
.teamname{
    margin-bottom: 5vw;
}
.buttonn{
    border: 2px solid green;
    background-color: rgb(44, 167, 44);
    border-radius: 0.5vw;
    width: 60%;
    align-self: center;
    position: relative;
    bottom: 15px;
    /* margin: 1vw; */
}
.layer:hover{
      background: url("../images/nat-4.jpg");
      /* filter: blur(3px); */
      
    }
    .teams:hover{
        opacity: 1;
        background-color: rgba(34, 114, 34, 0.586);
        height: 18rem;
      }
    /* .Ccard:hover{
} */

/* ...................... Changes------------ */


.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 260px;
    height: 50px;
    line-height: 50px;
    font-family: "atmospheric";
    font-size: 15px;
  }
}