#canvas2{
    filter: blur(2px);
}

.programs{
    justify-content: flex-start;
}
.page-content{
  height: 29vw;
  overflow: scroll;
  /* background: rgba(44, 43, 43, 0.13) */
  ;
}
@media (max-width: 500px) {
  .page-content{
      height: 60vw;
  }
}

.Ccard{
    display: block;
    height: 18rem;
    width: 30%;
    position: relative;
    /* background-image: url("../images/nat-4.jpg"); */
    margin: 2vw 2vw 2vw 0vw;
    border-radius: 1vw;
    transition: all 0.5s;
    opacity: 1;
    font-family: "mechtech";
    box-shadow: rgba(16, 231, 81, 0.24) 0px 3px 8px;
    
     box-shadow: rgba(115, 228, 50, 0.4) 0px 5px, rgba(37, 224, 78, 0.3) 0px 10px, rgba(35, 212, 35, 0.2) 0px 15px, rgba(14, 133, 34, 0.1) 0px 20px, rgba(5, 116, 38, 0.05) 0px 25px;
}
.EventHeading{
    display: flex;
    justify-content: center;
    padding-top: 11rem;
    font-size: 2vw;
}
.Eventtime{
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
}
.layer{
    display: flex;
    background: transparent;
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    transition:0.5s;
}
.teams{
width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity:0;
  transition: 0.5s;
  text-align: center;
  padding-top: 5.5vw;
  border-radius: 1vw;
}
.teamname{
    margin-bottom: 5vw;
}
/* .buttonn{
    border: 2px solid green;
    background-color: rgb(44, 167, 44);
    border-radius: 0.5vw;
    width: 60%;
    align-self: center;
    position: relative;
    bottom: 15px;
    margin: 1vw;
} */
.layer:hover{
      /* background: url("../images/nat-4.jpg"); */
      /* filter: blur(3px); */
      
    }
    .teams:hover{
        opacity: 1;
        background-color: rgba(34, 114, 34, 0.586);
        height: 18vw;
      }
   

/* ...................... Changes------------ */



.button-49,
.button-49:after {
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  /* position: relative; */
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* touch-action: manipulation; */
  width: 19.11vw;
    height: 4vw;
    line-height: 4vw;
    font-family: "atmospheric";
    font-size: 1.2vw;
    position: absolute;
    margin: 12vw 0vw 0vw 0vw;
    /* bottom: 0; */
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
    margin: 0vw 0vw 0vw 0vw;
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
    margin: 0vw 0vw 0vw 0vw;
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
    margin: 0vw 0vw 0vw 0vw;
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
    margin: 0vw 0vw 0vw 0vw;
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
    margin: 0vw 0vw 0vw 0vw;
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
    margin: 0vw 0vw 0vw 0vw;
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
    margin: 0vw 0vw 0vw 0vw;
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
    margin: 0vw 0vw 0vw 0vw;
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
    margin: 0vw 0vw 0vw 0vw;
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
    margin: 0vw 0vw 0vw 0vw;
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
    margin: 0vw 0vw 0vw 0vw;
  }
}


  /* .button-49,
  .button-49:after {
    width: 19.11vw;
    height: 4vw;
    line-height: 4vw;
    font-family: "atmospheric";
    font-size: 1.2vw;
    position: absolute;
    bottom: -3.3vw;
  } */

  /* ---------------------------new h bhai -------------------------------------- */

  :root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
 }
  .page-content {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1.3vw;
    padding: 1vw;
    justify-content: left;
    /* width: 100vw; */
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
 }
  @media (min-width: 600px) {
    .page-content {
      grid-template-columns: repeat(2, 1fr);
   }
 }
  @media (min-width: 800px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
   }
 }
  .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1vw;
    margin-bottom: 1vw;
    width: 18vw;
    height: 25vw !important;
    border-radius: 1vw;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
 }
  @media (min-width: 600px) {
    .card {
      height: 350px;
   }
 }
  .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
 }
  .card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
 }
  .card:nth-child(1):before {
    background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
 }
  .card:nth-child(2):before {
    background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
 }
  .card:nth-child(3):before {
    background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
 }
  .card:nth-child(4):before {
    background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
 }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1vw;
    transition: transform var(--d) var(--e);
    z-index: 1;
 }
  .content > * + * {
    margin-top: 1vw;
 }
  .title {
    font-size: 1.3vw;
    font-weight: bold;
    line-height: 1.2;
 }
  .copy {
    /* font-family: "sans-serif"; */
    font-size: 1.125vw;
    font-style: italic;
    line-height: 1.35;
    color: #fcfffa;
 }
  .btn {
    cursor: pointer;
    margin-top: 1.5vw;
    padding: 0.75vw 1.5vw;
    font-size: 0.65vw;
    font-weight: bold;
    letter-spacing: 0.025vw;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
 }
  .btn:hover {
    background-color: #0d0d0d;
 }
  .btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
 }
  @media (hover: hover) and (min-width: 600px) {
    .card:after {
      transform: translateY(0);
   }
    .content {
      transform: translateY(calc(100% - 4.5rem));
   }
    .content > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
   }
    .card:hover, .card:focus-within {
      align-items: center;
   }
    .card:hover:before, .card:focus-within:before {
      transform: translateY(-4%);
   }
    .card:hover:after, .card:focus-within:after {
      transform: translateY(-50%);
   }
    .card:hover .content, .card:focus-within .content {
      transform: translateY(0);
   }
    .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(var(--d) / 8);
   }
    .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
      transition-duration: 0s;
   }
 }
  
