#videoCont{
    height: 100vh !important;
    width: 100vw !important;
    position: relative;
    z-index: 99 !important;
    background-color: black !important;
}

#Home{
    background-color: black !important;
    height: 100vh !important;
    width: 100vw !important;
}
.Home{
    background-color: black !important;
    height: 100vh !important;
    width: 100vw !important;
}
.video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.animationFrame{
    display: flex;
    justify-content: center;
    width: 100vw !important;
    background-color: black;
    position: relative;
    z-index: 999;
    align-items: center;
}

.whole-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* @keyframes top{
    from{
        height: 0vh;
    }
    to{
        height: 90vh;
    }
}  */
