@font-face {
  font-family: atmospheric;
  src: url(../fonts/aAtmospheric.ttf);
}

@font-face {
  font-family: "toko-light";
  src: url(./../fonts/Teko-Light.ttf);
}
.navbar1 {
  height: 10vh;
}
.legacy {
  color: white;
  background-color: #000;
  /* margin-top: 10vh; */
}
.legacy__hero {
  display: flex;
  height: 90vh;
  width: 100vw;
}
.legacy__hero-left {
  height: inherit;
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.legacy__hero-left div {
  padding-left: 3vw;
}
.hero__left-name {
  font-size: 2vw;

  /* font-weight: 100; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero__left-head {
  font-size: 8vw;
}
.hero__heading-svg {
}
.hero__left-desc {
  font-size: 1.3vw;
  padding-top: 3vw;
  /* padding-left: 2rem; */
  /* font-family: "toko-light"; */
  /* font-weight: 100; */
}
.legacy__hero-right {
  height: inherit;
  width: 50vw;
}
.legacy__hero-sliders {
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.slider-3 {
  grid-area: 2 / 1 / 3 / 3;
}

.slider-2 {
  grid-area: 1 / 3 / 3 / 6;
}
.slider-1 {
  grid-area: 3 / 1 / 5 / 6;
}
.slider-4 {
  /* background-color: whitesmoke; */
  grid-area: 1 / 2 / 2 / 3;
}

.heading {
  font-family: atmospheric;
  text-transform: uppercase;
  font-size: 10vh;
  text-align: center;
  margin: 0;
  min-height: calc(100vh - 16px);
  position: relative;
  color: transparent;
  font-weight: normal;
  font-style: normal;

  /* animation-delay: 9s; */
}

@media only screen and (max-width: 650px) {
  .legacy__hero {
    flex-direction: column;
  }
  .legacy__hero-left {
    height: 50vh;
    width: 100vw;
  }
  .legacy__hero-right {
    width: 100vw;
  }
  .hero__left-name {
    font-size: 2.5vw;
  }
  .hero__left-head {
    font-size: 12vw;
  }
  .hero__left-desc {
    font-size: 1.5vw;
    padding-bottom: 5vw;
  }
}
