@font-face {
  font-family: atmospheric;
  src: url(../fonts/aAtmospheric.ttf);
}

@font-face {
  font-family: "toko-light";
  src: url(./../fonts/Teko-Light.ttf);
}
.navbar1 {
  height: 10vh;
}
.legacy {
  color: white;
  /* background-color: #000; */
  /* margin-top: 10vh; */
}
.legacy__hero {
  display: flex;
  height: 90vh;
  width: 100vw;
}
.legacy__hero-left {
  height: inherit;
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.legacy__hero-left div {
  padding-left: 3vw;
}
.hero__left-name {
  font-size: 2vw;

  /* font-weight: 100; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero__left-head {
  font-size: 8vw;
  font-family: toko-light;
  letter-spacing: 10px;
  font-size: 10vw;
  color: lime;

}
.hero__heading-svg {
}
.hero__left-desc {
  font-size: 1.3vw;
  padding-top: 3vw;
  /* padding-left: 2rem; */
  /* font-family: "toko-light"; */
  /* font-weight: 100; */
}
.legacy__hero-right {
  height: inherit;
  width: 50vw;
}
.legacy__hero-sliders {
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.slider-3 {
  grid-area: 2 / 1 / 3 / 3;
}

.slider-2 {
  grid-area: 1 / 3 / 3 / 6;
}
.slider-1 {
  grid-area: 3 / 1 / 5 / 6;
}
.slider-4 {
  /* background-color: whitesmoke; */
  grid-area: 1 / 1 / 3 / 3;
}

.heading {
  font-family: atmospheric;
  text-transform: uppercase;
  font-size: 10vh;
  text-align: center;
  margin: 0;
  min-height: calc(100vh - 16px);
  position: relative;
  color: transparent;
  font-weight: normal;
  font-style: normal;

  /* animation-delay: 9s; */
}

@media only screen and (max-width: 650px) {
  .legacy__hero {
    flex-direction: column;
  }
  .legacy__hero-left {
    height: 50vh;
    width: 100vw;
  }
  .legacy__hero-right {
    width: 100vw;
  }
  .hero__left-name {
    font-size: 2.5vw;
  }
  .hero__left-head {
    font-size: 12vw;
  }
  .hero__left-desc {
    font-size: 1.5vw;
    padding-bottom: 5vw;
  }
}




.glitch {
  position: relative;
  margin: 0 auto;
  /* color: #fff; */
  /* font-size: 15vh ; */
  font-family: Atmospheric;
  font-weight: 600 ;
  text-align: center;
  color: green;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  /* background: #333; */
  background: transparent;
  /* color: #fff; */
  /* color: limegreen; */
  color: lime;
  /* color: green; */
  /* color: whitesmoke; */
  clip: rect(0, 900px, 0, 0);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.glitch::before {
  left: 7px;
  text-shadow: 1px 0 whitesmoke;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-effect 2s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
  0% {
    clip: rect(10vh, 9999px, 20vh, 0);
  }
  5% {
    clip: rect(15vh, 9999px, 13vh, 0);
  }
  10% {
    clip: rect(13vh, 9999px, 24vh, 0);
  }
  15% {
    clip: rect(7vh, 9999px, 18vh, 0);
  }
  20% {
    clip: rect(9vh, 9999px, 9vh, 0);
  }
  25% {
    clip: rect(10vh, 9999px, 19vh, 0);
  }
  30% {
    clip: rect(2vh, 9999px, 20vh, 0);
  }
  35% {
    clip: rect(7vh, 9999px, 25vh, 0);
  }
  40% {
    clip: rect(19vh, 9999px, 10vh, 0);
  }
  45% {
    clip: rect(14vh, 9999px, 10vh, 0);
  }
  50% {
    clip: rect(18vh, 9999px, 19vh, 0);
  }
  55% {
    clip: rect(23vh, 9999px, 5vh, 0);
  }
  60% {
    clip: rect(21vh, 9999px, 24vh, 0);
  }
  65% {
    clip: rect(15vh, 9999px, 26vh, 0);
  }
  70% {
    clip: rect(17vh, 9999px, 22vh, 0);
  }
  75% {
    clip: rect(10vh, 9999px, 27vh, 0);
  }
  80% {
    clip: rect(2vh, 9999px, 24vh, 0);
  }
  85% {
    clip: rect(8vh, 9999px, 17vh, 0);
  }
  90% {
    clip: rect(17vh, 9999px, 16vh, 0);
  }
  95% {
    clip: rect(14vh, 9999px, 18vh, 0);
  }
  100% {
    clip: rect(16vh, 9999px, 20vh, 0);
  }
}