.ParticipantProfile{
    display: flex;
    width: 95vw;
    margin:auto;
    margin-bottom: 250px;
}
.profileTitle{
    margin: 8vw 0vw 4vw 4vw;
}
.ProfileHeading{
    color: rgb(255, 255, 255);
    margin: 0vw 0vw 0vw 4vw;
    text-shadow:  0.2vw 0.16vw 4px rgb(10, 228, 10);
    font-size: 2.2vw;
}
.programs{
    justify-content: space-around;
}
.eventsParticipated{
    display: flex;
    flex-wrap: wrap;
    width: 65vw;
    margin: auto;
}
.profilePart{
     /* height: 40vw; */
     width: 30vw;
     
     
}

/* ____________________________________ Profile Card_________________________ */
.profileCard{
    width:28vw;
    margin:auto;
    /* margin-bottom: 300px !important; */
    height: 43vw;
    position: absolute;
    top:26vw;
    right:50px;

    background: linear-gradient(134.03deg, rgba(255, 255, 255, 0.4) -47.9%, rgba(255, 255, 255, 0.08) 116.08%);
box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(7.5px);
border-radius: 29px;

    
}
.profilelogo{
    position: absolute;
    width:120px;
    right:20px;
    

}

.profilepic{
	--img-url: url(https://cdna.artstation.com/p/assets/images/images/044/357/866/large/sm-bonin-neo-manson-04.jpg?1639756945);
}

.headshot {
	flex-shrink: 0;
	margin: 20px;
	height: calc(120px + 6vw);
	width: calc(120px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(7, 6, 6, 0.5);
    position: absolute;
    top:90px;
    left:65px;
}

.headshot-2 {
	border-radius: 50%;
	background-image: var(--img-url), linear-gradient(to bottom right, #25dd34, #169246, #09661d);
}

.profilebox{
    height: 200px;
    background-color: rgb(10, 10, 10);
    border-radius: 29px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;
    border-bottom: solid rgb(209, 206, 206) 2px;
}

.profileData{
    background-color: rgb(206, 208, 209);
}

.profileData h3{
    
    font-family: "atmospheric";
    color: aliceblue;
    position: relative;
    top:130px;
    
    font-size: 30px;
    text-align: center;
}

.profileQuote{
    font-family: "mechtech";
    color: #fefefe;
    position: relative;
    top:180px;
    left:15px;
    font-size: 20px;
    width: 25vw;
    text-align: center;
    /* background-color: black; */
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 10px;
}



  

  