.sch-event-card {
  width: 40vw;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: space-around;
  /* background-color: bisque; */
  border: 1px solid lime;
  border-radius: 10px;
  margin: auto;
  margin-top: 6vh;
  color: whitesmoke;
  backdrop-filter: blur(5px);
  margin: 4vw;
  /* margin-left: 2vw; */
  /* margin-right: 2vw; */
  /* transition: all 0.5s; */
}

.sch-event-info {
  /* float: right; */
  width: 17vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.sch-event-name {
  /* color: rgb(43, 43, 43); */
  /* font-size: 4vh; */
  /* float: left; */
  width: fit-content;
  /* left: 0% !important; */
  /* margin-top: 0.5vh; */
  font-weight: 700;
  /* text-justify: newspaper; */
}

.sch-date-venue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}

.sch-event-date {
  width: auto;
  color: rgb(188, 187, 187);
}

.sch-event-desc {
  float: right;
}

.sch-event-pic {
  width: 13vw;
}

.sch-event-img {
  border-radius: 10px;
  /* float: left; */
  margin-top: -5vh;
  /* margin-bottom: 5vh; */
  transition: all 0.3s;
}

.sch-event-img:hover {
  margin-top: -6vh;
}

.teams-btn {
  margin: 0;
  /* font-size: 11px; */
  /* padding: 16px; */
}

@media screen and (max-width: 1000px) {
  .sch-event-card {
    width: 45vw;
    flex-direction: column;
    /* padding-left: 3vh; */
    margin-top: 10vh;
  }

  .sch-event-pic {
    width: 30vw;
  }

  .sch-event-info {
    width: 40vw;
    padding: 0 2vw;
  }

  .sch-event-img {
    border-radius: 10px;
    /* float: left; */
    margin-top: -3vh;
    /* margin-bottom: 5vh; */
    margin-left: 2vw;

    transition: all 0.3s;
  }
}

@media screen and (max-width: 800px) {
  .sch-event-card {
    width: 90vw;
    flex-direction: column;
    padding-left: 3vh;
    margin-top: 10vh;
  }

  .sch-event-pic {
    width: 45vw;
  }

  .sch-event-info {
    width: 80vw;
  }
}