.sponsers{
    color: white;
}
.sponsers h1{
    text-align: center;
    font-size: 10vw;
    font-weight: bold;
    font-style: oblique;
    margin: 1vw;
    
}

.sponsers-whole{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.left p{
    text-align: right;
}

.left button{
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(13, 176, 13, 0.237);
    padding: 5px 10px 5px 10px;
    margin: 30px 0px 0px 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.right{
    width: 50vw;
    height: 80vh;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* box-shadow: 0px 0px 20px 0px rgb(0, 255, 60); */
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
}

.right::-webkit-scrollbar{
    display: none;
}

.box{
    width: 8vw;
    /* height: 70px; */
    /* background-color: white; */
    margin: 30px;
    /* animation-name: sponsersmove; */
    /* animation-duration: 5s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; */
}

.box img{
    filter: saturate(0);
}

.box img:hover{
    filter: saturate(1);
}

@keyframes sponsersmove {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-100%);
    }
}

@media (max-width:640px) {
    .left{
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .right{
        width: 80%;
    }
    .left p{
        text-align: center;
    }
}