.hel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spon-logo-width {
  max-width: 18rem;
}
.wolfram-logo {
  max-width: 12rem;
}
.uh-glass {
  background: rgba(255, 255, 255, 0.024);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 0.5px 0px #2f2;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}
.uh-bg {
  background: rgba(255, 255, 255, 0.011);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(6px);
}

.faqs {
  /* width: 70%; */
  /* max-width: 75vw; */
  min-height: 55rem;
  margin: 0 0;
  padding: 15px;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  /* background: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(6px);
  border-radius: 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s ease 0.5ms;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 0.5px pink;
}

.faqs .faq .faq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: all 0.2s ease 0.5ms;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease 0.5ms;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  content: "-";
}

.faqs .faq.open .faq-answer {
  max-height: 300px;
  opacity: 1;
}
.uhf {
  margin-bottom: 5rem;
}
.txt-shdw {
  text-shadow: 1px 1px 2px pink;
}
.title-txt-shdw {
  text-shadow: 2px 2px 2px pink;
}
<<<<<<< HEAD
.devfolio-button {
  margin-top: 5vw;
}
=======
/* .devfolio-button {
  margin-top: 25vh;
} */
>>>>>>> origin/uhack
.taska{
grid-column-start: 2;
grid-column-end: 3;
}

