/* @font-face {
    src: url(aAtmospheric.ttf);
    font-family: atmospheric;
} */

.days{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    color: whitesmoke;
}


.day{
    background-color: rgb(228, 246, 247);
    border-radius: 10px;
    width: 18vw;
    height: 22vh;
    margin: 2vw;
    margin-left: 1vw;
    background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
    /* display: flex; */
    /* align-items:center; */
}

.day h2, .day h3{
    margin-left: 1vw;
    text-shadow: none !important;
    color: whitesmoke;
}
h2{
font-weight: bold !important;
font-size: larger !important;
}

h3{
    font-weight: 600;
    font-size: large;
    margin-top: 0.5vw;
}

.programs{
    display: flex;
    color: whitesmoke;
}

.program{
    background-color: rgb(228, 246, 247);
    border-radius: 10px;
    width: 18vw;
    height: 40vh;
    margin: 2vw;
    margin-left: 1vw;
    background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0)
  );
  overflow: hidden;
  /* background: linear-gradient(135deg, rgb(32, 10, 121), violet); */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

.rings{
    margin: 1vh;
}

.teampage_background {
    position: absolute;
    left: 0px !important;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgb(0, 255, 60, 0.3) 20%, transparent 20%);
    margin-left: 0px;
    background-size: 20px 20px;
    z-index: -1;
    animation: rain 1s 1s infinite alternate-reverse;
  }

.band{
    width: 100%;
    background-color: rgba(180, 50, 50, 1);
    height: 1.5%;
    /* transform: rotate(145deg); */
}


/* @keyframes rain {
    0%{
        background-size: 20px 20px;
        
    }
    100%{
        background-size: 20px 30px;
    }
} */

.timing{
    /* color: rgba(255, 0, 0, 0.6); */
    color: rgba(180, 50, 50, 1);
    font-size: x-large;
    text-shadow: none;
    margin-top: 4vh;
    /* margin-left: 3.vw; */
    font-family: atmospheric;

}

.event_title{
    margin-top: 15vh;
}